* {
  margin: 0;
  padding: 0;
  color: #bebebe;
  font-family: "silkscreen", "Roboto", cursive;
  scroll-behavior: smooth;
  scroll-margin-top: var(--navbar-height);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --navbar-height: 70px;
  --color-primary-dark: #01051e;
  --color-primary-light: #040826;
  --color-input: #171c2e;
  --color-accent: #00ff38;
  --breakpoint-md: 970px;
  --border-radius-card: 10px;
}

h1 {
  color: white;
  font-size: 30px;
}

a {
  text-decoration: none;
}

p {
  line-height: 35px;
}

section {
  min-height: max-content;
  width: 100%;
  padding: 30px clamp(12px, 3%, 40px);
  border-bottom: 1px solid #12132e;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.flex-gap-30 {
  gap: 30px;
}
.flex-gap-20 {
  gap: 20px;
}

.accent-text {
  color: var(--color-accent);
}

.a-styled {
  color: var(--color-accent);
  text-decoration: underline;
}

button,
.a-btn {
  color: var(--color-accent);
  padding: 6px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover,
.a-btn:hover {
  background-color: #77ff9510;
}
button:active,
.a-btn:active {
  background-color: #77ff951e;
}

.btn-outlined,
.a-outlined {
  border: 1px solid var(--color-accent);
}
.btn-contained,
.a-contained {
  color: var(--color-primary-dark);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn-contained:hover,
.a-contained:hover {
  background-color: #01d12e;
  border-color: #00c22a;
}
.btn-contained:active,
.a-contained:active {
  background-color: #00b828;
  border-color: #00b828;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: #131731;
  z-index: 100;
  /* From https://css.glass */
  background: rgba(1, 5, 30, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid #12132e;
}

.navbar ul {
  display: flex;
  gap: 15px;
  color: white;
}

.nav-modal-mobile {
  padding: 10px;
}

#drawerBtn {
  display: block;
  padding: 3px 0;
  line-height: 1.75;
  padding-left: 40px;
}

#drawerBtn:hover {
  background-color: #77ff9510;
  border-radius: 4px;
}

.nav-modal-mobile-container {
  position: fixed;
  inset: 0;
  z-index: 200;
  visibility: hidden;
}
.nav-modal-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--color-primary-dark);
  transform: translateX(0);
  /* transition: transform 250ms ease; */
}
.nav-modal-mobile-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 1;
}

.hamburger-btn {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  border: 3px solid #bebebe;
  position: relative;
  display: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 250ms ease;
}

.fadeOut {
  animation: fadeOut 250ms ease;
}

@keyframes drawerLeftIn {
  from {
    transform: translateX(-240px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes drawerLeftOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-240px);
  }
}

.drawerLeftIn {
  animation: drawerLeftIn 250ms ease;
}

.drawerLeftOut {
  animation: drawerLeftOut 250ms ease;
}

.hamburger-btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  left: 7.2px;
  top: 11px;
  background-color: #bebebe;
  border-radius: 4px;
}

.hamburger-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  left: 7.2px;
  top: 21px;
  background-color: #bebebe;
  border-radius: 4px;
}

.container-lg {
  max-width: 1300px;
  margin: 0 auto;
}

.skeleton-loading {
  display: block;
  background-color: rgba(255, 255, 255, 0.13);
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  transform-origin: 0px 55%;
  transform: scale(1, 0.6);
  position: relative;
  border-radius: 4px / 6.7px;
  overflow: hidden;
  height: 30px;
  width: 100px;
}

@keyframes wave {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translate(100%);
  }
}

.skeleton-loading::after {
  content: "";
  position: absolute;
  inset: 0px;
  animation: wave 1.6s linear 0.5s infinite;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
  transform: translateX(-100%);
}

#about-me,
#tecnologies,
#API,
footer {
  background-color: var(--color-primary-dark);
}

#my-story,
#projects,
#contact {
  background-color: var(--color-primary-light);
}

#about-me {
  min-height: 100vh;
}

#about-me img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  place-items: center;
  padding-top: calc(var(--navbar-height) + clamp(12px, 3%, 40px));
}

.my-name {
  font-size: 40px;
}

.my-hystory-text {
  max-width: 70ch;
}

.logos-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bootcamp-card {
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius-card);
  padding: 20px;
  width: 300px;
}

.bootcamp-card p {
  line-height: 25px;
  font-size: 12px;
}

.hackademy-logo,
.toti-logo {
  height: 200px;
  width: 200px;
}

.tecnologies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tecnologies-container > div {
  cursor: pointer;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius-card);
  padding: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.tecnologies-container > div:hover {
  background-color: #00ff371f;
}

.main-tecnologies {
  grid-column: span 2;
}

.crypto-container {
  max-width: 700px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.projects-grid > div {
  background-color: var(--color-primary-light);
  padding: 20px;
  border-radius: var(--border-radius-card);
}

.projects-grid > div:nth-child(1) {
  grid-column: span 2;
}
.projects-grid > div:nth-child(2) {
  grid-column: span 2;
}
.projects-grid > div:nth-child(3) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.project-card {
  background-color: var(--color-primary-dark);
  padding: 40px;
  border-radius: var(--border-radius-card);
}
.project-card > div {
  flex-basis: 35%;
}
.project-card > figure {
  flex-basis: 65%;
}

.hackademy-cv-photo {
  max-width: 100%;
  height: auto;
}

.kushki-photo {
  max-width: 100%;
  height: auto;
}

.hackademy-hire-dm-photo {
  max-width: 100%;
  height: auto;
}

.form-container {
  max-width: 450px;
}

input,
textarea {
  background-color: var(--color-input);
  border: 1px solid var(--color-input);
  border-radius: 3px;
  padding: 8px 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 3px solid var(--color-input);
  -webkit-text-fill-color: #bebebe;
  box-shadow: 0 0 0 1000px var(--color-input) inset !important ;
  -webkit-box-shadow: 0 0 0 1000px var(--color-input) inset !important;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--color-accent);
}

.hide-error-text {
  display: none;
}

.error-text {
  font-size: 12px;
  color: #e71538;
}

textarea {
  resize: vertical;
}

footer {
  height: 120px;
  width: 100%;
  padding: 20px;
}

.footer-container {
  max-width: 600px;
  height: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 969px) {
  p {
    text-align: center;
  }

  .about-me-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .navbar h2 {
    display: none;
  }

  .about-me-text-container h1 {
    align-self: center;
  }

  .carlos-photo-BKP-lg {
    display: none;
  }

  .logos-container {
    gap: 30px;
  }

  .logos-container {
    align-self: unset;
  }

  #video p {
    width: auto;
  }

  .my-name {
    font-size: 30px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .projects-grid > div:nth-child(3) {
    display: flex;
    flex-direction: row;
  }

  .project-card {
    flex-direction: column;
  }
  .project-card > figure {
    order: 2;
  }

  .flex-gap-30 {
    gap: 20px;
  }

  footer {
    height: 150px;
  }
}

@media screen and (max-width: 760px) {
  .navbar {
    justify-content: initial;
    padding-left: 20px;
  }
  .navbar ul {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
}

@media screen and (min-width: 970px) {
  .carlos-photo-BKP-sm {
    display: none;
  }
}
