* {
  margin: 0;
  padding: 0;
  color: #bebebe;
  font-family: "silkscreen", "Roboto", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --navbar-height: 70px;
  --color-primary-dark: #01051e;
  --color-primary-light: #040826;
  --color-accent: #00ff38;
  --breakpoint-md: 970px;
  --border-radius-card: 10px;
}

h1 {
  color: white;
  font-size: 30px;
}

a {
  text-decoration: none;
}

p {
  line-height: 35px;
}

section {
  min-height: max-content;
  width: 100%;
  padding: 30px clamp(12px, 3%, 40px);
  border-bottom: 1px solid #12132e;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.flex-gap-30 {
  gap: 30px;
}
.flex-gap-20 {
  gap: 20px;
}

.accent-text {
  color: var(--color-accent);
}

.a-styled {
  color: var(--color-accent);
  text-decoration: underline;
}

button,
.a-btn {
  color: var(--color-accent);
  padding: 6px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover,
.a-btn:hover {
  background-color: #77ff9510;
}
button:active,
.a-btn:active {
  background-color: #77ff951e;
}

.btn-outlined,
.a-outlined {
  border: 1px solid var(--color-accent);
}
.btn-contained,
.a-contained {
  color: var(--color-primary-dark);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn-contained:hover,
.a-contained:hover {
  background-color: #01d12e;
  border-color: #00c22a;
}
.btn-contained:active,
.a-contained:active {
  background-color: #00b828;
  border-color: #00b828;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: #131731;
  z-index: 100;
  /* From https://css.glass */
  background: rgba(1, 5, 30, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid #12132e;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 15px;
  color: white;
}

.container-lg {
  max-width: 1300px;
  margin: 0 auto;
}

/* section {
  display: grid;
  place-content: center;
} */

#about-me,
#tecnologies,
#API,
footer {
  background-color: var(--color-primary-dark);
}

#video,
#projects,
#contact {
  background-color: var(--color-primary-light);
}

#about-me img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.about-me-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  place-items: center;
  padding-top: calc(var(--navbar-height) + clamp(12px, 3%, 40px));
}

.my-name {
  font-size: 40px;
}

.my-hystory-text {
  width: 70ch;
}

.logos-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bootcamp-card {
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius-card);
  padding: 20px;
  width: 300px;
}

.bootcamp-card p {
  line-height: 25px;
  font-size: 12px;
}

.hackademy-logo,
.toti-logo {
  height: 200px;
  width: 200px;
}

#tecnologies {
  /* background-color: #01051e; */
}

.tecnologies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tecnologies-container > div {
  cursor: pointer;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius-card);
  padding: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.tecnologies-container > div:hover {
  background-color: #00ff371f;
}

.main-tecnologies {
  grid-column: span 2;
}

#projects {
  /* background-color: #040826; */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.projects-grid > div {
  background-color: var(--color-primary-light);
  padding: 20px;
  border-radius: var(--border-radius-card);
}

.projects-grid > div:nth-child(1) {
  grid-column: span 3;
}
.projects-grid > div:nth-child(2) {
  grid-column: span 2;
}
.projects-grid > div:nth-child(3) {
  grid-column: span 1;
}

.project-card {
  background-color: var(--color-primary-dark);
  padding: 40px;
  border-radius: var(--border-radius-card);
}
.project-card > div {
  flex-basis: 35%;
}
.project-card > figure {
  flex-basis: 65%;
}

.hackademy-cv-photo {
  max-width: 100%;
  height: auto;
}

.kushki-photo {
  max-width: 100%;
  height: auto;
}

.hackademy-hire-dm-photo {
  max-width: 100%;
  height: auto;
}

#API {
  /* background-color: #01051e; */
}
#contact {
  /* background-color: #040826; */
}

.form-container {
  max-width: 450px;
}

input,
textarea {
  background-color: #171c2e;
  border: 1px solid #171c2e;
  border-radius: 3px;
  padding: 8px 7px;
}

input:focus,
textarea:focus {
  /* border: 1px solid red; */
  outline: 1px solid var(--color-accent);
}

textarea {
  resize: vertical;
}

footer {
  height: 200px;
  width: 100%;
}

/* 1310 el breakpoint me max width*/

@media screen and (max-width: 969px) {
  p {
    text-align: center;
  }

  .about-me-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .navbar h2 {
    display: none;
  }

  .about-me-text-container h1 {
    align-self: center;
  }

  .carlos-photo-BKP-lg {
    display: none;
  }

  .logos-container {
    gap: 30px;
  }

  .logos-container {
    align-self: unset;
  }

  #video p {
    width: auto;
  }

  .my-name {
    font-size: 35px;
  }

  /* .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .projects-grid > div:nth-child(1) {
    display: flex;
    flex-direction: column;
  } */

  .project-card {
    flex-direction: column;
  }
  .project-card > figure {
    order: 2;
  }

  .flex-gap-30 {
    gap: 20px;
  }
}

@media screen and (min-width: 970px) {
  .carlos-photo-BKP-sm {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  input {
    background-color: red;
  }
}
